.title {
  font-size: 1.5rem;
  line-height: 1.75rem;
  letter-spacing: -0.01em;
  text-align: center;
  padding: 1em;
  font-weight: 600;

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .title {
    font-size: 1.25rem;
  }
}

.navBtn {
  border-radius: 0.5rem;
}

.avatarButton {
  cursor: pointer;
}
.menuList {
  min-width: 100px;
  padding: 0.3em;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
}

.menuItem {
  font-weight: bold;
  font-size: medium;
  padding: 0.8em !important;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.9);
  border-radius: 0.8em;
}
.menuItem:hover {
  transform: scale(0.95);
  transition: all 0.2s ease-in-out;
}

.menuOut {
  font-weight: bold;
  font-size: medium;
  padding: 0.8em !important;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.9);
  border-radius: 0.8em;
}
.menuOut:hover {
  background-color: rgb(255, 91, 91);
  transform: scale(0.95);
  transition: all 0.2s ease-in-out;
}

.modalForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

@media (max-width: 374px) {
  .responsiveStack > :nth-child(1) {
    display: none;
  }
}

.responsiveItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.responsiveItem > * {
  width: 100%;
}

@media (min-width: 375px) {
  .responsiveItem {
    display: none;
  }
}
