.label {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
}

.txt {
  font-size: large;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
