.card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* responsiveness at all levels: */
@media (max-width: 768px) {
  .card {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 767px) {
  .card {
    grid-template-columns: repeat(3, 1fr);
  }
}

.label {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  text-align: left;
  padding-inline: 2em;
  padding-block: 1em;
}

.labelEdit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.txt {
  color: gray;
}
.modalForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}
