.title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: -0.01em;
  text-align: center;
  padding: 1em;

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBtn {
  border-radius: 0.5rem;
}
